/*A) ESTILOS GLOBALES----------------------------------------------------------------*/

body {
	background-image:url('serra.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	/*background-color:#dcedc8;*/
	font-family: Arial, Helvetica, sans-serif;

}

A:link {text-decoration:none;color:#fffde7;} 
A:visited {text-decoration:none;color:#fffde7;} 
A:active {text-decoration:none;color:darkgreen;} 
A:hover {text-decoration:none;color:yellow;} 

@font-face {
 font-family: maquina;
 src: url('KBYoureJustMyType.ttf');
}

@font-face {
 font-family: redonda;
 src: url('Hanken-Book.ttf');
}

/*Cabeceras de los cuadros principales*/
.cabeceragrande{
	background-color:rgba(38,50,56,0.8);
	color:#fffde7;
	font:100% maquina;
	
	min-height:40px;
}

.cabecerapeque{
		background-color:rgba(38,50,56,0.8);
		color:#fffde7;
		font:80% maquina;
}

.maquina70{
	color:black;
	font:70% maquina;
}

.maquina90{
	color:black;
	font:90% maquina;
}

.maquina100{
	color:black;
	font:100% maquina;
	padding:8px;
}

.maquina120{
	color:white;
	font:120% maquina;
}

/*Estilo de subtitulos y hints para rellenar los formularios*/
.detallepazz{
	font:80% maquina;
	color:#212121;
}

.descripciones{
	margin:10px 40px 10px 40px;
	padding:10px 40px 10px 40px;
	font: 120% redonda;
	color:rgba(255,238,88,0.9);
}

/*la tabla que se comparte con otras webs*/
#tablainter{
	 cursor:url(favicon.ico),url(myBall.cur),auto;
}

#githublinks{/*zona inferior de la pantalla con links a github*/

position:fixed;

bottom:0.2em;
color:lightgrey;
font:Comic Sans MS;
font-style: italic;
font-size: smaller;
background-color: rgba(63,81,181,0.7);
}

	#githublinks a{
	color:lightgrey;
	text-decoration: underline;
	}
	#githublinks a:hover{
		color:rgb(255,196,0);
	}



/*FLYERS de EVENTOS*/


.cajitaflyer{
	width:336px;
	float:right;
	
	border:2px solid grey;
	border-collapse:collapse;
	/*background-color:rgba(191,191,191,0.8);*/
	

}

.fechitaflyer{

	
	border:2px solid darkred;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	background-color:rgba(220,231,117,0.7);
	/*background-color:rgba(255,235,59,0.4);*/
	
	font:90% maquina;

	margin:2px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
	padding-right:4px;
}
.fechitaflyer text{
	font-size:x-small;
}

.cajadinamica{
	
	background-color:rgba(38,50,56,0.4);
	
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	flex-wrap: wrap;
}

/*Los cuadros*/
	#cuadroforo{
		padding-top:40px;
	}

/*Barra superior*/
	
	.barrabotones{
		width:100%;
		position:relative;
		top:10px;

		float:left;
		margin-bottom:15px;
		display: flex;
		justify-content: space-around;
	}
	
	.color1{
		background-color:rgba(66,66,66,0.8);
	}
	
	.color2{
		background-color:rgba(178,235,242,0.6);
	}
	

	.textotitulin{
		font:120% maquina;
		color:black;
		text-align:center;
		overflow-wrap: break-word;
	}



/*Pares de tablas titulo/contenido*/

	.tablacabeza{
	border-collapse:collapse;
	margin-top:20px;
	}
	
	.tablamedia{
	margin-top:2px;
	border-collapse:collapse;	
	}


	/*BOTONES*/

		.botonseleccion {
			
			min-width:100px;
			
			margin: 5px;
			padding: 10.5px 0;

		   background:rgba(197,225,165,0.6);
		   border:none;

		   -webkit-border-radius: 6px;
		   -moz-border-radius: 6px;
		   border-radius: 6px;

		   color: #000000;
		   font-size: 16px;
		   font-family: Helvetica, Arial, Sans-Serif;
		   text-decoration: none;
		   vertical-align: middle;
		   text-align:center;   
		}
		.botonseleccion:hover {
		   border-top-color: #8bc34a;
		   background: #aed581;
		   color: #000000;
		   }
		.botonseleccion:active {
		   border-top-color: #ffffff;
		   background: #ffffff;
		   }
		.botonlog {
			width:50%;
			min-width:100px;
			float:right;
			margin: 5px;
			padding: 10.5px 0;

		   background:rgba(178,223,219,0.6);
		    border:none;

		   -webkit-border-radius: 6px;
		   -moz-border-radius: 6px;
		   border-radius: 6px;

		   color: #000000;
		   font-size: 16px;
		   font-family: Helvetica, Arial, Sans-Serif;
		   text-decoration: none;
		   vertical-align: middle;
		   text-align:center;   
		}
		.botonlog:hover {
		   border-top-color: #8bc34a;
		   background: #80deea;
		   color: #000000;
		   }
		.botonlog:active {
		   border-top-color: #ffffff;
		   background: #ffffff;
		   }

		   
		.botonencasillas {

		   background: rgba(212,225,87,0.2);
		   border:1px solid grey;

		   padding: 5px 10px;
		   -webkit-border-radius: 12px;
		   -moz-border-radius: 12px;
		   border-radius: 12px;

		   color: black;
		   font-size: 12px;
		   font-family: Helvetica, Arial, Sans-Serif;
		   text-decoration: none;
		   vertical-align: middle;
		   
		   opacity:0.7;
		   }
		.botonencasillas:hover {
		   opacity:1;
		   }
		.botonencasillas:active {

		   background: #1b435e;
		   }
		 
		.botonidioma{
		
			margin:5px;
			padding:5px;
			
			display:block;
			float:right;

			border:1px solid grey;
			color:black;
			font:100% maquina;
		}
		.botonidioma:hover {
		   background-color:rgba(225,235,59,0.8);
		   }
		
		.botonidiomaelecto{
		background-color:rgba(225,235,59,0.8);
		}


/* B) FORO: ESTILOS A REVISAR--------------------------------------------------------------------*/


.cabeceragrandedelforo{
	background-color:rgba(77,182,172,0.8);
	color:black;
	font:100% maquina;
}



.cabecerasforo{
	background-color:rgba(77,182,172,0.6);
	font:80% maquina;
	color:black;
	height:3em;
}
.cabecerasforo a{
	color:black;
}

.cabecerainteriormensajes{
	color: black;
	font: 80% arial;
}

.colorfondoforo{
	background-color:rgba(77,182,172,0.6);
}

.estilodetalles{
	font: Arial, Helvetica, sans-serif;
	color: black;
}

.estilocabeceradetalles{
	font: 80% Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

.fuenteinteriormensajes{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color:#e8f5e9;
}

/*C) SEMANARIO----------------------------------------------------------------------*/

	/*Leyenda con los nombres de los dias */
	.leyendadias{
		background-color:rgba(77,182,172,0.6);
		color:black;
		font:80% maquina;
}

	/*CASILLAS del SEMANARIO*/
	/*Necesarias tanto en el semanario como en la ficha de cada kolectivo: */

		.casillaestilada{
			min-height:60px;
			/*para que palabras largas no jodan la marraning:*/
			overflow-wrap: break-word;
			opacity:0.8;
		}

		.casillaestiladainterweb{
			min-height:60px;
			/*para que palabras largas no jodan la marraning:*/
			overflow-wrap: break-word;
			opacity:1;
		}

		.estilohoras{
			
			font:70% maquina;
			color: black;
			font-weight: 500;
			/*border-bottom:1px solid grey;*/
			background-color:rgba(212,225,87,0.2);
			/*border-top:1px solid grey;*/
		 
		}

		.estilocosas{
			
			font:80% Arial, Helvetica, sans-serif;
			color: black;
		}

		hr.barritaentrecosas {
			border: 0;
			height: 1px;
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
		}


	/*Filas de la lista de otros kolectivos*/
	.filascolapsantes{
		border-collapse:collapse;
		min-height:40px;
		max-width:1024px;
	}

/*D) Pantallita pop up de edicion de casillas-------------------------------*/

		.pantallita{
			

			position: fixed;
			max-height:80%;
			
			/* give dimensions */
			
			width: 460px;
			left: 50%;
			top: 30%;
			transform: translate(-50%, -30%);			

			background-color:rgb(224,224,224);
			border:2px solid #424242;
			padding:5px;
			
			
			overflow: auto;
			z-index:1002;
			/*para que palabras largas no jodan la marraning:*/
			overflow-wrap: break-word;			
		}
		
		#fade {
			display: none;
			position: fixed;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			min-height:100%;
			background-color:rgb(38,50,56);
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}
		
		.cuadritos{
			border:2px solid grey;
			background-color:rgba(77,182,172,0.4);
		}
		
		.estiloflyer{
			max-width:380px;
			border:1px solid black;
		}
		
		.estilohorasenpantallita{
			
			font:100% maquina;
			color: black;
			font-weight: 500;
			/*border-bottom:1px solid grey;*/
			background-color:rgba(212,225,87,0.2);
			/*border-top:1px solid grey;*/
		 
		}

		.estilocosasenpantallita{
			
			font:100% Arial, Helvetica, sans-serif;
			color: black;
		}

/*D) FICHAS (LOG Y LOGGED)------------------------------------------------------*/

	/*Color de fondo de los formularios*/
	.colorfondoformu{
		background-color:rgb(128,203,196);
	}

	/*Color de fondo de los input de los formularios*/
	.inputtransparente{
		width:100%;
		opacity:0.6;
		border:none;
		font:100% Arial, Helvetica, sans-serif;
	}


	/*Estilo de las casillas input del pass en los formularios*/
	.inputpazz{
		background-color:rgba(77,182,172,0.6);
		border:none;
		font:100% Arial, Helvetica, sans-serif;
	}
	
	.cajapublicarfecha{

	border:1px solid black;
	padding:6px;
	margin:6px;
	}
	/*FICHA PARA EDITAR UN DIA-------------------------*/


		.cajaeditarundia{
			
			width:50%;
			min-width:380px;
			
			background-color:rgba(238,238,238,0.75);
			border: 1px solid black;
			border-collapse:collapse;
			margin-right:auto;
			margin-left:auto;
		}

		.inputhora{
			width:100%;
			background-color:rgba(212,225,87,0.2);
			border:none;
			padding:2px;
			border-bottom:1px solid;
			font:100% maquina;
			font-weight: 500;
		}
		
		.inputcosa{
			width:100%;
			background-color:rgba(77,182,172,0.6);
			border:none;
			font:100% Arial, Helvetica, sans-serif;
		}


	/*APARTADO FLYERS--------------------------------------*/
	
		/*Selector (filtro por kolectivo)*/
		
		.selectorfiltro{
			width:31%;
			
			float:left;
			margin: 5px;

			
			background-color:rgba(77,182,172,0.6);
			border:none;
			font:100% Arial, Helvetica, sans-serif;
		}
	
		.avisobusqueda{
		width:90%;
		margin-right:auto;
		margin-left:auto;
		padding:6px;
		border-collapse:collapse;
		border:1px solid darkred;
		margin-top:40px;
		margin-bottom:20px;
		text-align:center;
		}
		
/*---------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------*/
	
